body {
  color: red;

  background-image: url(img/download.jpg) no-repeat fixed;
  background: : cover;

}
h1 {
  color: rgb(238, 20, 158);
  font-size: 150px;
}

<<<<<<< HEAD

=======
>>>>>>> 74b182ff00305a2b6640f393b496f6bf50a5080a
.husky{
  background-image: url("http://i.imgur.com/YJfYZJ8.gif");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 2000px;
  height: 2000px;
}

<<<<<<< HEAD

=======
>>>>>>> 74b182ff00305a2b6640f393b496f6bf50a5080a
p {
  background-color: white;
}

<<<<<<< HEAD

=======
>>>>>>> 74b182ff00305a2b6640f393b496f6bf50a5080a
.container {
  background-color: white;
  background-image: url(img/download.jpg);
  background-size: cover;
}
.awesome {
  background: url("http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/2m6pimv.gif");
<<<<<<< HEAD
=======
}
>>>>>>> 74b182ff00305a2b6640f393b496f6bf50a5080a

#stupid-box {
  width: 50px;
  height: 50px;
  position: absolute;
  border: solid black 1px;
  background-color: yellow;
}
