body {
  color: red;

  background-image: url(img/download.jpg) no-repeat fixed;
  background: : cover;

}
h1 {
  color: green;
  font-size: 100px;
}


.husky{
  background-image: url("http://i.imgur.com/YJfYZJ8.gif");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 2000px;
  height: 2000px;
}

p {
  background-color: white;
}

.container {
  background-color: white;
  background-image: url(img/download.jpg);
  background-size: cover;
}
.awesome {
  background: url("http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/2m6pimv.gif");
}
