body {
  color: gold;
  background-image: url(img/download.jpg);
  background: : cover;

}
h1 {
  color: green;
}


.husky{
  background-image: url("http://i.imgur.com/YJfYZJ8.gif");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 2000px;
  height: 2000px;
}

p {
  background-color: black;
}

.container {
  background-color: white;
}
.awesome {
  background: url("http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/2m6pimv.gif");
}
